.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Here goes my styling */

html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px; 
}
#map {
  width: auto;
  height: 100%;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 28px;
}

.nav {
  font-size: 18px;
  color: #FFFFFF;
}

.leaflet-marker-photo { 
  border: 2px solid #fff;
} 

.modal-dialog {
  width: 70%;
  overflow-y: auto;
  cursor: default;
}

.modal-body {
  font-size: 14px;
}

