/* Here goes my styling */
@import url(../components/Cesium/Widgets/widgets.css);

html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px; 
}

#map {
  width: auto;
  height: 100%;
}

#globe {
  width: auto;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 28px;
}

.nav {
  font-size: 18px;
  color: #FFFFFF;
}

.leaflet-control {
  opacity: 0.9;
}

.leaflet-marker-photo { 
  border: 2px solid #fff;
} 

.leaflet-popup-content-wrapper { 
  text-align: center;
} 

.modal-dialog {
  opacity: 0.9;
}

.modal-body {
  font-size: 14px;
}

.modal-backdrop.in {
  opacity: 0.5;
}

.dropdown-menu {
  opacity: 0.9;
  min-width: 300px;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.leaflet-control-layers-expanded {
  opacity: 0.8;
}

.info {
  width: 50%;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  overflow: auto;
  outline: 0 solid;
}

.motd {
  min-width: 200px;
  cursor: pointer;
}

.motd .table {
  margin-bottom: 0px;
}

.infoThumbs {
  border: 2px solid #fff;
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.motdThumbs {
  border: 2px solid #fff;
  width: 100px;
  height: 70px;
  object-fit: cover;
}

.spinnerControlContainer {
  width: 50px;
  height: 50px;
}

.cesium-widget-credits {
  position: relative;
  background: black;
}

.cesium-credit-image img{
    height: 18px;
}